
<h2>Cat</h2>

@using (Html.BeginForm())
{
<body>
    <p>
        <input type="submit" value="Next" formaction=@Url.Action("GetNextPage") formmethod="post" class="btn btn-primary"/>
    <p/>
    <p>
        1. Каждый хозяин кошки знает, что кошки любят спать, но многие не догадываются сколько именно спят кошки. По подсчетам кошки проводят 70 % жизни во сне.

        2. Люди не могут пить морскую воду, а кошки могут. Их почки фильтруют соль.

        3. Считается, что кошки слышат ультразвуковые шумы. Теоретически, они могут услышать ультразвуковой язык грызунов и дельфинов.


        4. Самой дорогой домашней кошкой считается бенгальская кошка короткошерстный гибрид по имени Зевс. Цена на Зевса, на 90 % бенгальскую и на 10 % домашнюю короткошерстную кошку, составила $154 000.


        5. У кошек есть третье веко, которое называется мигательной перепонкой.


        6. Домашние кошки бегают со скоростью 48 км в час, и это на 5 км быстрее, чем у самого быстрого человека Усейна Болта (43 км в час).


        7. Мы привыкли к тому, что по примете черная кошка приносит неудачу, однако в Великобритании и Австралии черные кошки приносят удачу.


        8. Были случаи, когда кошки выживали при падении с 32 этажа на бетон. Рекорд самого долгого не смертельного падения в мире принадлежит кошке, которая упала с 46 этажа здания и выжила.


        9. У кошек намагниченные клетки мозга, которые действуют как компасы, позволяя им легко находить дорогу домой.

        10. У кошек видоизменилась интонация голоса, чтобы они смогли общаться с людьми. Более того, считается, что чем больше вы говорите с кошкой, тем больше кошка будет отвечать вам (мяукать в ответ).


        11. Известно, что кошки производят около 100 звуков, а собаки только 10.


        12. Кот Стаббс был мэром Такитна на Аляске 15 лет.


        13. Кошки не чувствуют сладкий вкус.


        14. Самая длинная домашняя кошка достигает 123 см.


        15. У большинства кошек непереносимость лактозы, так что молоко не самый подходящий для них продукт.


        16. Домашние кошки – хорошие охотники. Бродячие домашние кошки способствовали вымиранию 33 разных видов животных. Вследствие этого, они считаются одними из 100 самых инвазивных видов.


        17. Согласно исследователям, мозг кошки похож на мозг человека. По некоторым источникам мозг кошки на 90 процентов идентичен мозгу человека. У кошек и людей почти одинаковые области мозга, включая кору головного мозга с аналогичными долями.


        18. У кошек 300 миллионов нейронов, для сравнения у собак их всего около 160 миллионов.


        19. Первой кошкой в космосе была француженка Фелисетт и она смогла выжить.


        20. Хотя считается, что кошки были одомашнены древними египтянами, недавнее открытие поставило под сомнение это утверждение. Так было найдено захоронение кошек, которому 9500 лет на средиземноморском острове Кипр.
    </p>
</body>
}

