
<h2>Animals</h2>

@using (Html.BeginForm())
{
    <body>
        <p>
        <input type="submit" value="Next" formaction=@Url.Action("GetNextPage") formmethod="post" class="btn btn-primary" />
        <p/>
        1.Объем глазниц у сов почти целиком занят глазным яблоком, отчего они не могут вращать глазами и видят только то, что перед ними. А вот голову они поворачивают аж на 360 градусов!


        2.У хищников (например, у твоего мирно дремлющего на клавиатуре кота) глаза расположены спереди, чтобы вовремя увидеть добычу. А у травоядных глаза по бокам, чтобы вовремя увидеть приближающегося хищника и успеть ужаснуться.



        3.У осьминога прямоугольный зрачок, что дает обзор на все 340 градусов. У человека, кстати, всего 190 градусов.



        4.У панд нет специального места для сна - ни кровати, ни гнезда. Поэтому они засыпают там, где оказались в момент усталости. И если сон сморил их в тот момент, когда они залезли на дерево, ну что ж, так тому и быть.


        5.Дельфин не просто спит с одним открытым глазом - он спит с одним работающим "дежурным" полушарием мозга! Пока дельфин видит сны про то, как во время выступления в дельфинарии обнаружил, что на нем нет штанов, "дежурное" полушарие следит, чтобы дельфин вовремя сделал вдох и не захлебнулся.


        6.Альбатрос может спать прямо во время полета. Действует птица по тому же принципу, что и дельфин: в полете у альбатроса отдыхает одна половина мозга, а вторая следит, чтобы он удерживался в воздухе и не залетел в турбину самолета.


        7.Каланы (морские выдры) держат друг друга за лапки, когда спят, чтобы их не отнесло неизвестно куда течением.


        8.Швейцарский закон запрещает держать дома одну морскую свинку. Только пару, потому что свинка - животное социальное. А в случае смерти одной особи швейцарец должен срочно купить ей друга. Так швейцарцы и попадают в вечное рабство к морским свинкам.
    </body>
}
