
<h2>Still Animals</h2>

@using (Html.BeginForm())
{
    <body>
        <p>
            <input type="submit" value="Prev" formaction=@Url.Action("Index") formmethod="get" class="btn btn-primary" />
        <p />
        Ребята в этом году, в  журнале ,  мы много читали о животных. Подведем итог и вспомним самое интересное.



        1 Хамелеоны могут двигать глазами в разных направлениях одновременно.

        2 Белка – лучший садовник. Миллионы деревьев вырастают потому, что белки забывают, куда спрятали семечки.

        3 Зуб слона  может весить до девяти килограмм!

        4 У млекопитающих кровь красная, у насекомых жёлтая, у омаров синяя.

        5 В среднем коровы какают 16 раз в день.

        6  Муравьи никогда не спят. Вместо этого, они «отдыхают» по восемь минут “отдохнуть” два раза в день. Отдых королевы муравьев занимает  90 минут в день.

        7. Басенджи – единственная собака, которая не может лаять.

        8. Только половина мозга дельфина спит. Вторая половина в то время  бодрствует, и следит за окружающей обстановкой.

        9. Блоха может передвигаться только прыжками, мышцы её лапок устроены, как катапульты. Они накапливают энергию и “выстреливают” блоху в прыжок.

        10. Глаз гигантского кальмара размером с баскетбольный мяч.

        11. Бегемоты рожают под водой, чтобы защитить своих детей от падения!

        12. У лебедя более 25000 перьев на  теле.

        13.  20-метровый угорь может вырабатывать  энергию , способную зажечь 12 лампочек.

        14. Змеи  видят -через веки.

        15. Крысы могут смеяться если их пощекотать.

        16. Крот может выкопать тоннель длиной до 300 метров, за одну ночь.

        17 Из-за своей постоянной улыбки, квокка известен считается самым  счастливым животным.

        18 Морские котики  могут задерживать дыхание на два часа.

        19. Когда устрицам необходимо размножаться, они  могут менять свой пол.

        20. Вороны настолько умны, что они любят проказничать! Они даже могут подкрасться к собаке сзади и играя хватать ее клювом за хвост.

        21. Жирафы не имеют голосовых связок, поэтому они не могут “говорить!”

        22. Горбатые киты издают самый громкий звук любого млекопитающего, он  может быть слышан за 20 километров!

        23. Лошади имеют хорошую память, они могут  помнить вещи, людей, которых они встречали, а также навыки которыми владели несколько лет назад.

        24. Зебры бегут зигзагами, чтобы спастись от хищников.

        25 Божьи Коровки могут убирать за собой еду.

        26. У нарвала цвет кожи зависит от его возраста: чем светлее кожа, тем старше нарвала.

        27. У коал отпечатки пальцев похожи на  человеческие.

        28. Все сурикаты  имеют обязанности в  группе, в которой  живут.

        29. Крокодилы не могут высовывать язык!

        30. Когда обезьяны-пауки  встречаются, то они обнимают  друг друга.
    </body>
}

