@{
    ViewBag.Title = "About";
}

<p> </p>

<p class="h3 mb-3 font-weight-normal">A little personell register, developed by Vlad Olshevskij</p>


@{string img = "~/Content/Out/def.jpg"; }
<img src="@Url.Content(img)" width="200" height="200" />